.layout {
  display: flex;
  background: #f1f5f9;
}

.main {
  flex: 1;
  padding: 30px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  flex: 1;
}